@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,900;1,100;1,400;1,900&display=swap");

:root {
  --Primary: rgb(36, 123, 160);
  --Secondary: rgb(112, 193, 179);
  --Accent1: rgb(178, 219, 191);
  --Accent2: rgb(243, 255, 189);
  --Accent3: rgb(255, 22, 84);

  --Canvas: rgb(255, 255, 255);
  --Grey: rgb(161, 161, 161);
  --CanvasContrast: rgb(15, 15, 15);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  color: var(--CanvasContrast);
}

main.framework {
  display: grid;
  grid-template-columns: repeat(12, 0.083333fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "typography typography typography typography typography typography typography typography typography typography typography typography"
    "buttons buttons buttons buttons buttons buttons buttons buttons buttons links links links"
    "inputs inputs inputs inputs inputs inputs inputs inputs inputs alerts alerts alerts"
    "inputs inputs inputs inputs inputs inputs inputs inputs inputs colors colors colors"
    "loadings loadings loadings loadings loadings loadings loadings loadings loadings loadings loadings loadings";
  width: 90%;
  max-width: 1050px;
  margin: 2em auto;
}

section.framework {
  border: 1px solid var(--Accent1);
  padding: 10px;
}

section.typography {
  grid-area: typography;
}
section.buttons {
  grid-area: buttons;
}
section.links {
  grid-area: links;
}
section.inputs {
  grid-area: inputs;
}
section.alerts {
  grid-area: alerts;
}
section.colors {
  grid-area: colors;
}
section.loadings {
  grid-area: loadings;
}

main > section > h6 {
  color: var(--Grey);
  background: var(--Canvas);
  position: relative;
  text-align: center;
  width: fit-content;
  top: -25px;
  margin: 0 auto;
  padding: 0 10px;

  text-transform: uppercase;
}

h1 {
  font-size: 2em;
  line-height: 2;
}
h2 {
  font-size: 1.75em;
  line-height: 2;
}
h3 {
  font-size: 1.5em;
  line-height: 2;
}
h4 {
  font-size: 1.25em;
  line-height: 2;
}
h5 {
  font-size: 1em;
  line-height: 2;
}
h6 {
  font-size: 0.75em;
  line-height: 2;
}

p {
  font-size: 1em;
  font-weight: 100;
  line-height: 1.5em;
  margin-bottom: 1em;
}

strong {
  font-weight: 400;
}

em {
  font-style: italic;
}

.black-text {
  font-weight: 900;
}

.regular-text {
  font-weight: 400;
}

.thin-text {
  font-weight: 100;
}
