@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,900;1,300;1,400;1,900&display=swap");

:root {
  /*
  --Primary: hsl(198, 63%, 38%);
  --Secondary: rgb(112, 193, 179);
  --Accent1: rgb(178, 219, 191);
  --Accent2: rgb(243, 255, 189);
  --Accent3: rgb(255, 22, 84);*/

  --Primary: rgb(53, 178, 231);
  --Secondary: rgb(112, 193, 179);
  --Accent1: rgb(178, 219, 191);
  --Accent2: rgb(243, 255, 189);
  --Accent3: rgb(255, 22, 84);

  --PrimaryDesaturated: rgb(105, 183, 216);
  --SecondaryDesaturated: rgb(151, 190, 184);
  --Accent1Desaturated: rgb(193, 212, 199);
  --Accent2Desaturated: rgb(250, 255, 230);
  --Accent3Desaturated: rgb(255, 89, 133);

  --PrimarySaturated: rgb(0, 158, 226);
  --SecondarySaturated: rgb(69, 194, 173);
  --Accent1Saturated: rgb(128, 216, 156);
  --Accent2Saturated: rgb(232, 255, 129);
  --Accent3Saturated: rgb(255, 0, 68);

  --PrimaryTransparent: rgba(53, 178, 231, 0.3);
  --SecondaryTransparent: rgba(112, 193, 179, 0.3);
  --Accent1Transparent: rgba(178, 219, 191, 0.3);
  --Accent2Transparent: rgba(243, 255, 189, 0.3);
  --Accent3Transparent: rgba(255, 22, 84, 0.3);

  --Canvas: rgb(255, 255, 255);
  --LightGrey: rgb(214, 214, 214);
  --Grey: rgb(161, 161, 161);
  --DarkGrey: rgb(92, 92, 92);
  --CanvasContrast: rgb(15, 15, 15);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
}

section {
  padding: 2em 0 2em 0;
}

body {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  word-spacing: 1px;
  letter-spacing: 0.3px;
  color: var(--DarkGrey);
}

h1 {
  font-size: 2em;
  line-height: 2;
  font-weight: 900;
}
h2 {
  font-size: 1.75em;
  line-height: 2;
  font-weight: 900;
}
h3 {
  font-size: 1.5em;
  line-height: 2;
  font-weight: 400;
}
h4 {
  font-size: 1.25em;
  line-height: 2;
  font-weight: 400;
}
h5 {
  font-size: 1em;
  line-height: 2;
  font-weight: 300;
}
h6 {
  font-size: 0.75em;
  line-height: 2;
  font-weight: 300;
}

p {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5em;
  margin-bottom: 1em;
  text-align: justify;
}

strong {
  font-weight: 400;
}

em {
  font-style: italic;
}

a.link {
  text-decoration: none;
  color: var(--CanvasContrast);
  font-weight: 400;
}

a.link:hover {
  color: var(--CanvasContrast);
  text-decoration: underline;
}

a.link:active {
  color: var(--CanvasContrast);
  text-decoration: underline;
}

a.link:visited {
  color: var(--CanvasContrast);
}

label {
  display: block;
  margin: 2em 0 0 0;

  font-size: 0.75em;
}

select {
  display: block;
  margin: 0.5em 0.5em 0.25em 0;
  border-radius: 6px;
  border: 1px solid var(--LightGrey);

  padding: 1em 0.5em;

  background-color: var(--Canvas);
  color: var(--DarkGrey);
}

select:active {
  border-radius: 6px;
  border: 1px solid var(--CanvasContrast);
}

select:focus {
  border-radius: 6px;
  border: 1px solid var(--CanvasContrast);
  outline: none;
  color: var(--CanvasContrast);
}

textarea {
  display: block;
  margin: 0.5em 0.5em 0.25em 0;
  border-radius: 6px;
  border: 1px solid var(--LightGrey);

  padding: 1em 0.5em;

  background-color: var(--Canvas);
  color: var(--DarkGrey);
}

textarea:active {
  border-radius: 6px;
  border: 1px solid var(--CanvasContrast);
}

textarea:focus {
  border-radius: 6px;
  border: 1px solid var(--CanvasContrast);
  outline: none;
  color: var(--CanvasContrast);
}

input {
  display: block;
  margin: 0.5em 0.5em 0.25em 0;
  border-radius: 6px;
  border: 1px solid var(--LightGrey);
  padding: 1em 0.5em;
  width: 75%;

  background-color: var(--Canvas);
  color: var(--DarkGrey);
}

input:active {
  border-radius: 6px;
  border: 1px solid var(--CanvasContrast);
}

input:focus {
  border-radius: 6px;
  border: 1px solid var(--CanvasContrast);
  outline: none;
  color: var(--CanvasContrast);
}

input:disabled {
  opacity: 0.5;
}

.right-input {
  border: 1px solid var(--Accent1Saturated);
}
.wrong-input {
  border: 1px solid var(--Accent3);
}
.active-input {
  border-radius: 6px;
  border: 1px solid var(--CanvasContrast);
}

textarea {
  display: block;
  width: 75%;
  resize: none;
}

form {
  margin: 1em auto;
}

.form-mess {
  font-size: 0.75em;
  margin: 0 0 1.5em 0.5em;
}

.black-text {
  font-weight: 900;
}

.regular-text {
  font-weight: 400;
}

.thin-text {
  font-weight: 300;
}

.btn {
  text-decoration: none;
  color: var(--Canvas);
  background-color: var(--Canvas);
  border: 2px solid var(--Primary);
  color: var(--Primary);
  padding: 1em 1.5em;
  border-radius: 6px;
  text-align: center;
  outline: none;
}

.btn:hover {
  color: var(--PrimarySaturated);
  transform: scale(1.1);
  border: 2px solid var(--PrimarySaturated);
}

.btn:active {
  color: var(--PrimarySaturated);
  border: 2px solid var(--PrimarySaturated);
}

.alrt {
  background-color: var(--SecondaryTransparent);
  color: var(--SecondarySaturated);

  border-radius: 1.5em;
  margin: 1em auto;
  padding: 0.25em 0.75em;

  text-align: center;
  font-weight: 900;
}

.alrt-bad {
  background-color: var(--Accent3Transparent);
  color: var(--Accent3Saturated);
}

.alrt-good {
  background-color: var(--Accent1Transparent);
  color: var(--Accent1Saturated);
}

div.loading {
  width: 75%;
  height: 10px;
  margin: 0 auto;
  background-color: var(--LightGrey);
  border-radius: 5px;
}

div.loading_fill {
  animation-name: loading_anim;
  animation-duration: 1.5s;
  animation-delay: 1s;
  animation-timing-function: ease;

  background-color: var(--Primary);
  height: 10px;

  border-radius: 5px;
}

@keyframes loading_anim {
  0% {
    width: 2%;
  }
  50% {
    width: 60%;
  }
  100% {
    width: 100%;
  }
}

h6.loading {
  position: relative;
  top: 5px;
  margin: 0.25em auto;
  text-align: center;
}

footer {
  background: var(--LightGrey);
  text-align: center;
  padding: 1em 0 2.5em 0;
  position: relative;
  bottom: -20px;
}

.footer-double-link {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  text-align: center;
  justify-content: space-evenly;
}

ul {
  list-style-type: none;
}

/* --------------------------- DATA PIE CHART ----------------------------------- */

.pie-chart-grid {
  width: 100%;
  margin: 2em auto 1em auto;

  display: grid;
  grid-template-rows: 0.5fr 0.5fr;
  grid-template-columns: auto auto;
  grid-template-areas:
    "pie-chart-title pie-chart-title"
    "pie legend";

  align-items: center;
  justify-content: space-evenly;
}

.pie-chart-title {
  grid-area: pie-chart-title;
  text-align: center;
}

.bg-primary {
  background-color: var(--Primary);
}
.bg-primarySat {
  background-color: var(--PrimarySaturated);
}
.bg-secondary {
  background-color: var(--Secondary);
}
.bg-accent1 {
  background-color: var(--Accent1);
}
.bg-accent2 {
  background-color: var(--Accent2);
}
.bg-accent3 {
  background-color: var(--Accent3);
}
.bg-lightGrey {
  background-color: var(--LightGrey);
}

.pie {
  grid-area: pie;

  width: 8em;
  height: 8em;
}

.legend {
  grid-area: legend;
}

.mini-square {
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  z-index: 1;
}

h6.chart-legend {
  position: relative;
  left: 0.5em;
  display: inline;
}
